# IDE
.idea/
*.spyproject

# Python
__pycache__/
.ipynb_checkpoints/
*.ipynb

# Temporary files
*tmp*
*diskcache*

# Project outputs
/output/
/output_cached/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/